@media (max-width:772px){


header{
    padding:2% 4%;
}

.nav .menu{
    display: block;
}

.navlist{
    display:none;
}

/* ----------------banner section--------------  */
main{
    padding: 2% 4%;
}
.banner{
    padding: 5% 0;
}
.banner-text{
    padding:2rem 5%;
    text-align: justify;
}
.banner h1{
    font-size: 30px;
}
.col-input{
   flex-direction: column;
   padding: 2rem 10%;
}
.banner .col-input select,input{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}
/* ----------------banner section style end------------  */

.about{
    flex-direction: column;
    
}
.about .col-img{
    margin: 3rem auto;
    
}
.about h1{
    font-size: 2rem;
}
/* --------------------------bonus design------------- */
.bonus{
    height: 60vh;
}
.text-img{
    margin: 8% 2rem;
    padding: 2rem;
}
.text-img h1{
    font-size: 2.5rem;
}
/* =========================gallary================== */
.gallary{
   pading:1rem 0;
}
.gallary .img-gallary{
    display: block;
}
/* ---------------------blog desing------------------- */
.blog .col-box{
    display: block;
}
.blog .col-box .col{
    margin-top: 2rem;
    padding:2rem;
}
.blog .text-box h1{
    font-size: 2.5rem;
}
/* ===========================discount=================== */
.discount .discount-img-box-1{
    justify-content: center;
}
.discount .discount-img-box-2{
    justify-content: center;

}


/* -----------------subscribe style------------------- */
.subscribe{
    flex-direction: column;
    padding: 20% 0;
}
.subscribe .img-box img{
    width: 100%;
}
.img-box .text-box-img{
    position: absolute;
    top:40%;
    right: 2rem;
    width: 250px;
    height: 100px;

}
/* ==================vide0 section =============== */
 .video{
    flex-direction: column-reverse;
 }
 .video .text-img-box h1{
    font-size: 2.5rem;
 }
   
 
 .video .video-box{
    margin-top: 5rem;
 }









/* -----------------footer---------------- */


footer{
    padding:2% 4%;
}
.footer-box .col-1{
    padding:2rem 5%;
}




















}