:root{
    --btn-bg-color:#FF5500;
    --hadding-color:#FF5500;
    --nav-text-color:#424347;
    --btn-text-color:#fff;
    --text-color:#97969B;
    --footer-bg-color:#F3F3F3;
    --bg-color-1:#FEF5F6;
    --bg-color-2:#F4FEFF;
    --bg-color-3:#FFFCF7;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: serif;
    list-style: none;
    text-decoration: none;
}
span{
    color:var(--hadding-color);
}
.btn{
    background-color:var(--btn-bg-color);
    color:var(--btn-text-color);
    padding:.8rem 1.4rem;
    border-radius: 8px;
    text-transform: capitalize;
}
/* ----------------------------basic desing end----------------------- */
header{
    width: 100%;
    padding:2rem 10%;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .menu{
    display: none;
}
.navlist {
 display: flex;
 justify-content: flex-end;
}
.navlist li{
    padding: 10px 20px;
}
.navlist li a{
    font-size: 20px;
    text-transform: capitalize;
    color:var(--nav-text-color)
}
.navlist li a:hover{
    color: var(--btn-bg-color);
}
.navlist li .active{
    color:var(--hadding-color);
}
/* -------------------------------header desing end----------------------- */
/* -------------------main deisng start---------------- */
main{
    width: 100%;
    padding: 2rem 10%;
}
 .banner{
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.425)), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    
 }
 .banner-text{
    padding:5% 15%;
    text-align: center;
    color:var(--btn-text-color)
 }
.banner h1{
    font-size: 55px;
    margin-bottom: 2rem;
}
.banner-text .col-input{
    background-color: rgba(255, 255, 255, 0.253);
    display: flex;
    padding:1rem 2rem;
    margin: 2rem 0;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    border-radius: 10px;
}
.col-input select{
    color: var(--text-color);
}

.col-input >select,input{
    width: 100%;
    padding:.8rem 1.5rem;
    font-size: 20px;
    border-radius: 10px;
    border:none;
    outline: none;
   
}
/* -------------------------banner style end------------------------ */
.about{
    padding:5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.about .col-text{
    padding-right:1rem;
    flex-grow: 1;
}
.col-text h1{
    font-size: 3rem;
}
.para-col{
    margin: 2rem 0;
    display:inline-block;
}
.para-col p,ul li{
    margin: 1rem 0;
}
.col-img{
    width: 100%;
    height: 100%;
}
/* --------------------------about style end--------------------  */
/* ---------------------------gallary start-------------------------- */
.gallary{
    padding: 2% 0;
}
.gallary .text-box{
    text-align: center;
    padding:3rem 0;
}
.gallary .text-box h1{
 font-size: 45px;
 padding-bottom:3rem;
}
.gallary .img-gallary{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,1fr);
  gap:10px;
}
/* .gallary .img-gallary .col{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.gallary .img-gallary img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.gallary .col-img-1{
    grid-column: 1/span 6;
}
.gallary .col-img-2{
 grid-column: 7/span 13;
}
.gallary .col-img-3{
 grid-column: 1/span 3;
}
.gallary .col-img-4{
 grid-column: 4/span 6;
}
.gallary .col-img-5{
 grid-column: 10/span 11;
}
.gallary .col-img-6{
grid-column: 1/span 5;
}
.gallary .col-img-7{
 grid-column:6/ span 13;
}

/* --------------------==-----------newsletter desing start------------------- */
.subscribe{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2% 0;
    gap:1rem;
    
}
.form-box{
    border:1px solid var(--hadding-color);
    border-radius: 10px;
    padding:3rem;
    flex-basis: 45%;
   
}
.form-box h3{
    font-size: 25px;
    padding-bottom: 1rem;
}
.form-box p{
    font-size: 18px;
    margin-bottom: 2rem;
}
.form-box input{
    width: 100%;
    padding:.8rem 1.5rem;
    font-size: 20px;
    border-radius: 10px;
    border:none;
    outline: none;
    background: #F3F3F3;
    margin: 1rem 0;  
}
button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
   
}
.img-box{
    flex-basis: 55%;
    position: relative;
   
}
.img-box img{
    width: 100%;
    height: auto;
  
}
.img-box .text-box-img{
    background-color: var(--hadding-color);
    width:300px;
    height:120px;
    position:absolute;
    top:50%;
    right: 2rem;
    border-radius: 10px;
    text-align: center;
    color:var(--bg-color-3);
    padding-top: 2rem;
    transform: rotate(-30deg);
}
   



















/* ---------------------footer desing start-------------------- */
footer{
    width: 100%;
    padding:2rem 10%;
    background-color: var(--footer-bg-color);
}
.footer-box{
 text-align: center;
 padding:2% 2rem;
}
.footer-box .logo{
   display: flex;
   justify-content: center;
}
.footer-box .col-1{
    padding:2rem 15%;
}
.col-1 .social-icon-box{
    margin: 2rem;
}
.social-icon-box img{
    padding:10px;
    background-color: var(--bg-color-3);
    border-radius: 50%;
}
.social-icon-box img:hover{
    transform: rotate(45deg) scale(1);
}
.col-1 p{
    margin: 2rem;
}
.footer-box .col-2{
    margin: 2rem 0;
}
